/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h3 {
  color: #13183F;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.1875rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.375rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.75rem;
}
@media (min-width: 1440px) {
  h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
}
@media (min-width: 1440px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;
  }
}

p {
  color: #83869A;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}
@media (min-width: 1440px) {
  p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
  }
}

.get-started {
  font-size: 1.125rem;
  font-weight: 700;
}

.button {
  border-radius: 28px;
  color: white;
  line-height: 3.5rem;
  padding: 0 20px;
  font-weight: 700;
  text-align: center;
}

.nearblack {
  background-color: #13183F;
}
.nearblack:hover {
  background-color: #666CA3;
}

.gradient1 {
  background: linear-gradient(#F02AA6, #FF6F48);
}
.gradient1:hover {
  background: linear-gradient(#f895d3, #ffb7a4);
}

.gradient2 {
  background: linear-gradient(#4851FF, #F02AA6);
}
.gradient2:hover {
  background: linear-gradient(#a4a8ff, #f895d3);
}

@media (min-width: 768px) {
  .cards {
    display: grid;
    gap: 44px 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (min-width: 1110px) {
  .cards {
    justify-content: space-between;
  }
}

.card {
  display: grid;
  gap: 24px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  margin: 44px 0 auto;
}
.card h3 {
  align-self: end;
}
.card .get-started {
  color: #F74780;
  align-self: start;
  margin-bottom: 0.5rem;
}
.card:first-child {
  background: linear-gradient(#F02AA6, #FF6F48);
  color: white;
  margin-top: 0;
}
@media (min-width: 620px) {
  .card:first-child {
    height: 16.25rem;
  }
}
@media (min-width: 768px) {
  .card:first-child {
    height: 20.125rem;
    margin-top: auto;
  }
}
.card + .card {
  grid-template-rows: 0px repeat(3, auto);
  height: 16.25rem;
}
@media (min-width: 768px) {
  .card + .card {
    height: 20.125rem;
    margin-top: auto;
  }
}

.icon {
  margin-bottom: 40px;
}

.hero-text > * + * {
  margin-top: 1.5rem;
}

.hero-image {
  padding-top: 3rem;
}

#hero {
  object-fit: none;
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 31rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .hero-image {
    position: relative;
    bottom: 70px;
    padding-top: 0;
    z-index: -1;
  }

  #hero {
    object-fit: cover;
    max-width: 640px;
  }
}
@media (min-width: 1110px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 37rem;
  }

  .hero-image {
    bottom: 100px;
    left: 50px;
  }

  #hero {
    max-width: 990px;
  }
}
body {
  background-color: white;
}

main {
  background: linear-gradient(white, #F0F1FF);
  padding-bottom: 5rem;
}

footer {
  background-color: #13183F;
}

h1 {
  margin-top: 1.5rem;
}

.wrapper,
.hero {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
}
.wrapper .button,
.hero .button {
  width: 8.75rem;
}
@media (min-width: 450px) {
  .wrapper,
.hero {
    padding: 0 40px;
  }
}

.topline,
.bottomline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topline {
  height: 5rem;
}

.bottomline {
  height: 8rem;
}

.logo {
  height: 1.75rem;
}

/*# sourceMappingURL=main.css.map */
