@use 'base';
@use 'components';

body {
    background-color: white;
}

main {
    background: base.$bg-gradient;
}

footer {
    background-color: base.$nearblack;
}

.wrapper,
.hero {
    max-width: base.$max-content;
    margin: 0 auto;
    padding: 0 16px;

    .button {
        width: max-content;
    }
}

.topline,
.bottomline {
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    align-items: center;
}

.logo {
    height: 1.75rem;
}