@use 'base';
@use 'components';

body {
    background-color: white;
}

main {
    background: base.$bg-gradient;
}

footer {
    background-color: base.$nearblack;
}

.wrapper,
.hero {
    max-width: base.$max-content;
    margin: 0 auto;
    padding: 16px;

    .button {
        width: max-content;
    }
}

.flow-space>*+* {
    margin-top: 1rem;
}

.topline,
.bottomline {
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    align-items: center;
}

.logo {
    height: 1.75rem;
}

#hero {
    object-fit: none;
}

@media (min-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 50% 70%;
        grid-template-rows: 31rem;
        align-items: center;
    }

    .hero-image {
        position: relative;
        bottom: 50px;
        left: 90px;
    }
}