@use '../base';

.topline,
.bottomline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topline {
    height: 5rem;

    @media (min-width: base.$med) {
        padding-top: 2rem;
    }
}

.bottomline {
    height: 8rem;
}

.logo {
    height: 1.75rem;
}

footer {
    background-color: base.$nearblack;
}