@use '../base';

.button {
    border-radius: 28px;
    color: white;
    line-height: 56px;
    padding: 0 30px;
}

.nearblack {
    background-color: base.$nearblack;

    &:hover {
        background-color: base.$steelblue;
    }
}

.gradient1 {
    background: base.$gradient1;

    &:hover {
        background: base.$gradient1-hover;
    }
}

.gradient2 {
    background: base.$gradient2;

    &:hover {
        background: base.$gradient2-hover;
    }
}