@use '../base';

.cards {

    @media (min-width: base.$med) {
        display: grid;
        gap: 44px 20px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    @media (min-width: base.$max-content) {
        justify-content: space-between;
    }
}

.card {
    display: grid;
    gap: 24px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    margin: 44px 0 auto;

    & h3 {
        align-self: end;
    }

    & .get-started {
        color: base.$darkpink;
        align-self: start;
        margin-bottom: .5rem;
    }

    &:first-child {
        background: base.$gradient1;
        color: white;
        margin-top: 0;

        @media (min-width: 620px) {
            height: 16.25rem;
        }

        @media (min-width: base.$med) {
            height: 20.125rem;
            margin-top: auto;
        }
    }

    &+.card {
        grid-template-rows: 0px repeat(3, auto);
        height: 16.25rem;

        @media (min-width: base.$med) {
            height: 20.125rem;
            margin-top: auto;
        }
    }
}

.icon {
    margin-bottom: 40px;
}