@use '../base';

.cards {
    display: grid;
    gap: 44px;
}

.card {
    display: grid;
    gap: 24px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 24px;

    & h3 {
        align-self: end;
    }

    & .get-started {
        color: base.$darkpink;
        align-self: start;
        margin-bottom: .5rem;
    }

    &:first-child {
        background: base.$gradient1;
        color: white;
    }

    &+.card {
        grid-template-rows: 0px repeat(3, auto);
        height: 16.25rem;
    }

    .icon {
        margin-bottom: 40px;
    }
}