@use '../base';

$icons: (
    "animation": "url(../../assets/icon-animation.svg)"
);



.cards {
    display: grid;
    gap: 5px;
}

.card {
    @include base.flow-space;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;

    & .get-started {
        color: base.$darkpink;
    }

    & :first-child {
        background: base.$gradient1;
        color: white;
    }
}