@use './breakpoints';
@use './colors';


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h3 {
    color: colors.$nearblack;
}

@mixin heading-xl {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.375rem;
}

@mixin heading-l {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.1875rem;
}

@mixin heading-m {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
}

@mixin heading-s {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;
}

@mixin body-m {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

// this is as used in the design, not as given in the design system. They don't match
@mixin body-s {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}

h1 {
    @include heading-l;

    @media (min-width: breakpoints.$lg) {
        @include heading-xl;
    }
}

h2 {
    @include heading-s;

    @media (min-width: breakpoints.$lg) {
        @include heading-m;
    }
}

h3 {
    font-size: 1.25rem;
    font-weight: 800;

    @media (min-width: breakpoints.$lg) {
        @include heading-s;
    }
}

p {
    color: colors.$gray;
    @include body-s;

    @media (min-width: breakpoints.$lg) {
        @include body-m;
    }
}

.get-started {
    font-size: 1.125rem;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}